
<%= @text %> <br/>

<h1> Collection names: </h1> <br>
  <% @coll_names.each do |coll_name| %>
  <%= coll_name %> <br/>
<% end %>

<%= form_tag("/testcase/new", method: "post") do %>
  <%= label_tag(:url, "Test case URL::") %>
  <%= text_field_tag(:url) %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Submit") %>
<% end %>

<!-- TODO: CSRF? -->
<%= link_to "Init task", "/testcase/ajax/init-task", method: :post, remote: true, id: :init_task_link %>

<span id="ajax-status">(AJAX status)</span>

<script>
/*
   $(document).ajaxSuccess(function() {
   $( "#ajax-status" ).text( "Triggered ajaxSuccess handler." );
   });*/



/*$( document ).ajaxSuccess(function( event, xhr, settings ) {
  $( "#ajax-status" ).append( event + "<br>" + xhr.responseXML + "<br>" + xhr.responseText + "<br>" + settings.url );
//$.ajax({url: "/testcase/async" })
});*/

taskIds = new Array(0)

$(document).on('ajax:success', '#init_task_link', function(e) {
    //$( "#ajax-button" ).attr('value', "Task already initialized" )
    //$( "#ajax-status" ).html("Task already initialized" )
    function get_progress() {
      $.ajax({
        url: "/testcase/ajax/get-all-progresses", 
        data: { "taskIds": taskIds },
        success: get_progress
      })
    }
    get_progress()
    /*$.ajax({
      url: "/testcase/ajax/get-progress" //, 
      success: function(dataCheck) {    
      $( "#ajax-status" ).append( "<br><b>"+ dataCheck + "</b>" );
      } 
      })*/
  });

</script>

