
<h1> Posh Wolf </h1> <br>

<!--
<%= form_tag("/testcase/new", method: "post") do %>
  <%= label_tag(:url, "Test case URL:") %>
  <%= text_field_tag(:url) %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Submit") %>
<% end %> -->

<input id="input-url" value="http://mistic.heig-vd.ch/taillard/problemes.dir/ordonnancement.dir/flowshop.dir/tai20_5.txt"/>

<!-- TODO: CSRF? -->

<button id="init-task-button" class="btn btn-large btn-primary">Init task</button>
<button id="init-large-task-button" class="btn btn-large btn-primary">Init large task</button>
<button id="init-task-from-url-button" class="btn btn-large btn-primary">Init task from the above URL</button>

<table id="task-table" width="100%">
  <tbody>
  </tbody>
</table>  

<script>

progressCheckRunning = false
initTaskLocked = false
taskIds = {}

ongoingAnimationId = 0

function get_progress() {
  if (Object.keys(taskIds).length == 0) 
    progressCheckRunning = false
  else  
    $.ajax({
      url: "/testcase/ajax/get-all-progresses", 
      data: { "taskIds": Object.keys(taskIds) },
      success: get_progress
    })
}      

$(document).ready(function() {
  $("#init-task-button").click(
    function() {
      
      if (initTaskLocked) return

      initTaskLocked = true

      $.ajax({
	url: "/testcase/ajax/init-task",
	type: "POST",
	contentType: "application/soap+xml; charset=utf-8",
	success: function() {
	  initTaskLocked = false

	  if (!progressCheckRunning) {
	    progressCheckRunning = true
	    get_progress()
	  }
      }
    })

  })
  
  $("#init-large-task-button").click(
    function() {
      
      if (initTaskLocked) return

      initTaskLocked = true

      $.ajax({
	url: "/testcase/ajax/init-large-task",
	type: "POST",
	contentType: "application/soap+xml; charset=utf-8",
	success: function() {
	  initTaskLocked = false

	  if (!progressCheckRunning) {
	    progressCheckRunning = true
	    get_progress()
	  }
      }
    })

  })
  
  $("#init-task-from-url-button").click(
    function() {
      
      if (initTaskLocked) return

      initTaskLocked = true

      $.ajax({
	url: "/testcase/ajax/init-task-from-url",
	type: "POST",	
	data: { srcUrl: $("#input-url").val() },
	
	complete: function() {
	  initTaskLocked = false
	},
	
	error: function(XMLHttpRequest, textStatus, errorThrown) {
	  $("<div>The specified URL does not point to a valid Flow Shop test case data!</div>").appendTo("#task-list-container")
	    .dialog({ 
	      title: "Error",
	      buttons: [ 
		{ text: "Ok", click: function() { $(this).dialog("close"); } } 
	      ]
	    })
	    $(".ui-dialog-titlebar-close").css({ display: "none" })
	},
	
	success: function() {	  
	  if (!progressCheckRunning) {
	    progressCheckRunning = true
	    get_progress()
	  }
	}
      })

   })  
})
</script>

