
<%= @text %> <br/>

<h1> Collection names: </h1> <br>
  <% @coll_names.each do |coll_name| %>
  <%= coll_name %> <br/>
<% end %>

<%= form_tag("/testcase/new", method: "post") do %>
  <%= label_tag(:url, "Test case URL::") %>
  <%= text_field_tag(:url) %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Submit") %>
<% end %>

<!-- TODO: CSRF? -->
<%= link_to "Init task", "/testcase/ajax/init-task", method: :post, remote: true, id: :init_task_link %>

<div id="progressbar"></div>

<div id="pb-container"></div>

<span id="ajax-status">(AJAX status)</span>

<script>

progressCheckRunning = false
taskIds = new Array(0)

$(document).on('ajax:success', '#init_task_link', function(e) {

    function get_progress() {
      if (taskIds.length == 0) 
        progressCheckRunning = false
      else  
        $.ajax({
          url: "/testcase/ajax/get-all-progresses", 
          data: { "taskIds": taskIds },
          success: get_progress
        })
    }

    if (!progressCheckRunning) {
      progressCheckRunning = true
      get_progress()
    }

  });

</script>

