
<%= @text %> <br/>

<h1>SOAP responses: </h1> <br> 
<%= @soap_resps.each do |resp| %> 
<%= resp =%> <br/> <br/>
<% end %>

<h1> Collection names: </h1> <br>
<% @coll_names.each do |coll_name| %>
  <%= coll_name %> <br/>
<% end %>

<%= form_tag("/testcase/new", method: "post") do %>
  <%= label_tag(:url, "Test case URL::") %>
  <%= text_field_tag(:url) %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Submit") %>
<% end %>


<%= form_tag("/testcase/async", remote: true, format: :js, method: :get) do %>
  <!-- <input type="hidden" name="format" value="js"/> -->
  <%= submit_tag "Test AJAX (state = off)", id: "ajax-button" %>
<% end %>

<span id="ajax-status">(AJAX status)</span>

<script>
/*$(document).ready(function() {
  $("#ajax-status")
    .on("ajax:success", function(e, data, status, xhr) {{
      $("#ajax-status").append(xhr.responseText)
    })
    .bind("ajax:error", function(e, xhr, status, error) {
      $("#ajax-status").append("ERROR")
    })
  })*/

  /*
  $(document).ajaxSuccess(function() {
    $( "#ajax-status" ).text( "Triggered ajaxSuccess handler." );
  });*/

 $( document ).ajaxSuccess(function( event, xhr, settings ) {
   $( "#ajax-status" ).html( event + "<br>" + xhr.responseXML + "<br>" + xhr.responseText + "<br>" + settings.url );
 });

</script>

