
<% tooltip = raw('<span title="Use the test case format as in the Taillard\'s collection, ' + 
  'linked under &lt;Use sample test case&gt;.' +
  'Only the first test case from the given input will be executed."> <sup> <b> [?] </b> </sup> </span>') %>

<table id="launch-table" width="100%">
  <tr>
    <td width="40%" valign="top" style="border-bottom: 1px solid lightgray; padding-right: 5px">
      <div style="float: left"> 
        <font color="gray"><h4> Use sample test case </h4></font>
      </div>
      <div style="float: right"> 
        <button id="launch-sample-btn" class="btn btn-primary launch-btn">Launch</button>
      </div>
    </td>        
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td valign="top" style="border-bottom: 1px solid lightgray">
      <div style="float: left"> 
        <font color="gray"><h4> Paste test case URL
        <%= tooltip %>
        </h4></font>
      </div>
      <div style="float: right"> 
        <button id="launch-url-btn" class="btn btn-primary launch-btn">Launch</button>
      </div>
    </td>
  </tr>
  
  <tr>
    <td valign="top">
      <font color="gray"> Sample data from the <%= link_to "Taillard's collection", "taillard" %> </font>
    </td>
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td style="padding-top: 5px">
      <input id="input-url" value="http://mistic.heig-vd.ch/taillard/problemes.dir/ordonnancement.dir/flowshop.dir/tai20_5.txt"/>
    </td>
  </tr>
  
  <tr>    
    <td rowspan="2" valign="top">
      <table width="100%">       
        <tr height="20%">
          <td width="50%" style="border-right: 1px solid lightgray; font-color: gray"><font color="gray">Group</font></td>
          <td width="50%" style="padding-left: 5px"><font color="gray">Offset</font></td>
        </tr> 
        <tr height="80%">
          <td style="border-right: 1px solid lightgray; padding-right: 10px">

            <select id="group-select" size="3">	      
              <% for (j, m), i in @groups.zip(1..@groups.length) %>
                <option <%= 'selected="selected"' if i == 1 %> id="<%= j %>-<%= m %>" > <%= j %> jobs, <%= m %> machines </option>
              <% end %>	      
            </select>
          </td>
          <td style="padding-left: 10px;">
            <select id="offset-select" size="3">
              <% for i in 1..10 %>
                <option <%= 'selected="selected"' if i == 1 %> id="<%= i %>" > Test #<%= i %> </option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
    </td>
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td valign="top" style="border-bottom: 1px solid lightgray">
      <div style="float: left"> 
        <font color="gray"><h4> Paste test case contents 
        <%= tooltip %>
        </h4> </font>
      </div>
      <div style="float: right"> 
        <button id="launch-pasted-btn" class="btn btn-primary launch-btn">Launch</button>
      </div>
    </td>
  </tr>
  
  <tr>    
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td style="padding-top: 5px">
      <textarea id="pasted-text"></textarea>
    </td>
  </tr>
  <tr>    
    <td width="10px" colspan="4">
      <!-- <div width="100%" style="position: relative"> -->
      <table width="100%"> <tr> 
        <td width="12.5%">
          <span id="nest-number-label"> <font color="gray"> Nest number: </font> </span>
          <b> <span id="nest-number-value"> 7 </span> </b>
        </td>
        <td width="12.5%">
          <div id="nest-number-slider" width="100%"/>
        </td>
        <td width="75%">
        </td>
      <!-- style="position: absolute; right: 0px; top: 0px" -->
      </tr> </table>
    </td>
  </tr>
</table>


<table id="task-table" width="100%">
  <tbody>
  </tbody>
</table>  


<script>

progressCheckRunning = false
initTaskLocked = false
taskIds = {}

ongoingAnimationId = 0

function get_progress() {
  if (Object.keys(taskIds).length == 0) 
    progressCheckRunning = false
  else  
    $.ajax({
      url: "/ajax/get-all-progresses", 
      data: { "taskIds": Object.keys(taskIds) },
      success: get_progress
    })
}      

function lockTaskLaunching() {
  if (initTaskLocked) 
    return false
    
  initTaskLocked = true
  $(".launch-btn").removeClass("btn-primary").addClass("btn-inactive")
  
  return true
}

function unlockTaskLaunching() {
  $(".launch-btn").removeClass("btn-inactive").addClass("btn-primary")
  initTaskLocked = false
}

function showErrorDialog(XMLHttpRequest, textStatus, errorThrown) {
  $("<div>There was an error running the specified Flow Shop test case.</div>").appendTo("#task-list-container")
    .dialog({ 
      title: "Error",
      buttons: [ 
        { text: "Ok", click: function() { $(this).dialog("close"); } } 
      ]
    })
    $(".ui-dialog-titlebar-close").css({ display: "none" })
}

function ensureProgressCheckRunning() {
  if (!progressCheckRunning) {
    progressCheckRunning = true
    get_progress()
  }
}

function postTaskGeneric(url, data) {
  if (!lockTaskLaunching()) return

  data.config = {
    nestNumber: $("#nest-number-cfg").val()
  }

  $.ajax({
    url: url,
    type: "POST",
    data: data,
    
    complete: unlockTaskLaunching,	
    error: showErrorDialog,	
    success: ensureProgressCheckRunning
  })
}

$(document).ready(function() {

  $("#launch-sample-btn").click(
    function() {
      gaTrackClick('launch-sample')

      var jm = $("#group-select").find(":selected").attr('id').split('-')
      var jobCnt = jm[0], machineCnt = jm[1]
      var offset = $("#offset-select").find(":selected").attr('id')

      postTaskGeneric("/ajax/post-task-from-sample", {
        jobCnt: jobCnt,
        machineCnt: machineCnt,
        offset: offset
      })
  })
  
  $("#launch-pasted-btn").click(
    function() {
      gaTrackClick('launch-pasted')

      postTaskGeneric("/ajax/post-task-from-pasted", $("#pasted-text").val())
  })
  
  $("#launch-url-btn").click(
    function() {
      gaTrackClick('launch-url')
            
      var srcUrl = $("#input-url").val()      
      if (srcUrl.match(/^\s*$/)) return // whitespace-only

      postTaskGeneric("/ajax/post-task-from-url", { srcUrl: srcUrl })

   })  
   
   $("#nest-number-slider").slider({ min: 1, max: 100 })
})
</script>

