
<% 

def tooltip(title)
  raw('<span title="' + title + '"> <sup> <b> [?] </b> </sup> </span>')
end

def test_case_format_tooltip
  tooltip 'Use the test case format as in the Taillard\'s collection, ' + 
    'linked under &lt;Use sample test case&gt;.' +
    'Only the first test case from the given input will be executed.'
end

%>

<table id="launch-table" width="100%">
  <tr>
    <td width="40%" valign="top" style="border-bottom: 1px solid lightgray; padding-right: 5px">
      <div style="float: left"> 
        <font color="gray"><h4> Use sample test case </h4></font>
      </div>
      <div style="float: right"> 
        <button id="launch-sample-btn" class="btn btn-primary launch-btn">Launch</button>
      </div>
    </td>        
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td valign="top" style="border-bottom: 1px solid lightgray">
      <div style="float: left"> 
        <font color="gray"><h4> Paste test case URL
        <%= test_case_format_tooltip %>
        </h4></font>
      </div>
      <div style="float: right"> 
        <button id="launch-url-btn" class="btn btn-primary launch-btn">Launch</button>
      </div>
    </td>
  </tr>
  
  <tr>
    <td valign="top">
      <font color="gray"> Sample data from the <%= link_to "Taillard's collection", "taillard" %> </font>
    </td>
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td style="padding-top: 5px">
      <input id="input-url" value="http://mistic.heig-vd.ch/taillard/problemes.dir/ordonnancement.dir/flowshop.dir/tai20_5.txt"/>
    </td>
  </tr>
  
  <tr>    
    <td rowspan="2" valign="top">
      <table width="100%">       
        <tr height="20%">
          <td width="50%" style="border-right: 1px solid lightgray; font-color: gray"><font color="gray">Group</font></td>
          <td width="50%" style="padding-left: 5px"><font color="gray">Offset</font></td>
        </tr> 
        <tr height="80%">
          <td style="border-right: 1px solid lightgray; padding-right: 10px">

            <select id="group-select" size="3">	      
              <% for (j, m), i in @groups.zip(1..@groups.length) %>
                <option <%= 'selected="selected"' if i == 1 %> id="<%= j %>-<%= m %>" > <%= j %> jobs, <%= m %> machines </option>
              <% end %>	      
            </select>
          </td>
          <td style="padding-left: 10px;">
            <select id="offset-select" size="3">
              <% for i in 1..10 %>
                <option <%= 'selected="selected"' if i == 1 %> id="<%= i %>" > Test #<%= i %> </option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>
    </td>
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td valign="top" style="border-bottom: 1px solid lightgray">
      <div style="float: left"> 
        <font color="gray"><h4> Paste test case contents 
        <%= test_case_format_tooltip %>
        </h4> </font>
      </div>
      <div style="float: right"> 
        <button id="launch-pasted-btn" class="btn btn-primary launch-btn">Launch</button>
      </div>
    </td>
  </tr>
  
  <tr>    
    <td width="10px" style="border-right: 1px solid lightgray"/>
    <td width="10px"/>
    <td style="padding-top: 5px">
      <textarea id="pasted-text"></textarea>
    </td>
  </tr>
  <tr>    
    <td width="10px" colspan="4">
      <table width="100%">
        
        <% config_entries = [
          ["max-iters", "Iterations", "The number of iterations to be performed"],
          ["nest-number", "Total nests", "The total number of nests in the Cuckoo algorithm"],
          ["abandon-number", "Nests to abandon", ""],
          ["disc-prob", "Discovery probability", ""]
        ] %>

        <tr>
          <% for id, label, tt in config_entries %>
            <td width="25%" align="center">
              <span id="<%= id %>-label" style="float: left; margin-left: 20px">
                <font color="gray"> 
                  <%= label %> 
                  <%= tooltip tt %>
                </font> 
              </span>
              <b> <span id="<%= id %>-value" style="float: right; margin-right: 20px"/> </b>
            </td>
          <% end %>
        </tr>

        <tr>
          <% for id, _, __ in config_entries %>
            <td width="25%">
              <div id="<%= id %>-slider" style="margin-left: 20px; margin-right: 20px; margin-top: 5px" />
            </td>
          <% end %>
        </tr>
      </table>
    </td>
  </tr>
</table>


<table id="task-table" width="100%">
  <tbody>
  </tbody>
</table>  


<script>

progressCheckRunning = false
initTaskLocked = false
taskIds = {}

ongoingAnimationId = 0

function get_progress() {
  if (Object.keys(taskIds).length == 0) 
    progressCheckRunning = false
  else  
    $.ajax({
      url: "/ajax/get-all-progresses", 
      data: { "taskIds": Object.keys(taskIds) },
      success: get_progress
    })
}      

function lockTaskLaunching() {
  if (initTaskLocked) 
    return false
    
  initTaskLocked = true
  $(".launch-btn").removeClass("btn-primary").addClass("btn-inactive")
  
  return true
}

function unlockTaskLaunching() {
  $(".launch-btn").removeClass("btn-inactive").addClass("btn-primary")
  initTaskLocked = false
}

function showErrorDialog(XMLHttpRequest, textStatus, errorThrown) {
  $("<div>There was an error running the specified Flow Shop test case.</div>").appendTo("#task-list-container")
    .dialog({ 
      title: "Error",
      buttons: [ 
        { text: "Ok", click: function() { $(this).dialog("close"); } } 
      ]
    })
    $(".ui-dialog-titlebar-close").css({ display: "none" })
}

function ensureProgressCheckRunning() {
  if (!progressCheckRunning) {
    progressCheckRunning = true
    get_progress()
  }
}


function postTaskGeneric(url, data) {
  if (!lockTaskLaunching()) return

  function sliderValue(name) {
    return $("#" + name + "-slider").slider('value')
  }

  data.config = {
    maxIterations: sliderValue("max-iters"),
    nestNumber: sliderValue("nest-number"),
    nestsToAbandonNumber: sliderValue("abandon-number"),
    discoveryProbability: sliderValue("disc-prob")
  }

  $.ajax({
    url: url,
    type: "POST",
    data: data,
    
    complete: unlockTaskLaunching,	
    error: showErrorDialog,	
    success: ensureProgressCheckRunning
  })
}

function setupSlider(name, min, def, max, step) {
  $("#" + name + "-slider").slider({ 
    min: min, 
    value: def,
    max: max,
    step: step,
    slide: function( event, ui ) {
      $("#" + name + "-value").text(ui.value)
    }
  })
  $("#" + name + "-value").text(def)
}

$(document).ready(function() {

  $("#launch-sample-btn").click(
    function() {
      gaTrackClick('launch-sample')

      var jm = $("#group-select").find(":selected").attr('id').split('-')
      var jobCnt = jm[0], machineCnt = jm[1]
      var offset = $("#offset-select").find(":selected").attr('id')

      postTaskGeneric("/ajax/post-task-from-sample", {
        jobCnt: jobCnt,
        machineCnt: machineCnt,
        offset: offset
      })
  })
  
  $("#launch-pasted-btn").click(
    function() {
      gaTrackClick('launch-pasted')

      postTaskGeneric("/ajax/post-task-from-pasted", $("#pasted-text").val())
  })
  
  $("#launch-url-btn").click(
    function() {
      gaTrackClick('launch-url')
            
      var srcUrl = $("#input-url").val()      
      if (srcUrl.match(/^\s*$/)) return // whitespace-only

      postTaskGeneric("/ajax/post-task-from-url", { srcUrl: srcUrl })

   })  
  

  setupSlider("max-iters", 10*1000, 500*1000, 1000*1000, 10*1000)
  setupSlider("nest-number", 1, 7, 100, 1)
  setupSlider("abandon-number", 1, 2, 100, 1)
  setupSlider("disc-prob", 0, 0.2, 1, 0.05)

})
</script>

