
<h1> Collection names: </h1> <br>
  <% @coll_names.each do |coll_name| %>
  <%= coll_name %> <br/>
<% end %>

<%= form_tag("/testcase/new", method: "post") do %>
  <%= label_tag(:url, "Test case URL::") %>
  <%= text_field_tag(:url) %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Submit") %>
<% end %>

<!-- TODO: CSRF? -->
<!-- <####%= link_to "Init task", "/testcase/ajax/init-task", method: :post, remote: true, id: :init_task_link %> -->
<button id="task-init-button" class="btn btn-large btn-primary">Init task</button>

<table id="task-table" width="100%">
  <tbody>
  </tbody>
</table>  


<script>

progressCheckRunning = false
initTaskLocked = false
taskIds = {}

function get_progress() {
  if (Object.keys(taskIds).length == 0) 
    progressCheckRunning = false
  else  
    $.ajax({
      url: "/testcase/ajax/get-all-progresses", 
      data: { "taskIds": Object.keys(taskIds) },
      success: get_progress
    })
}      

$(document).ready(
  $("#task-init-button").click(
    function() {
      
      if (initTaskLocked) return

      initTaskLocked = true

      $.ajax({
        url: "/testcase/ajax/init-task",
        type: "POST",
        contentType: "application/soap+xml; charset=utf-8",
        success: function() {
          initTaskLocked = false

          if (!progressCheckRunning) {
            progressCheckRunning = true
            get_progress()
          }
       }
     })

  })
)  

</script>

