

pbSel = "#progressbar-" + <%= params[:taskId] %>

$(pbSel).hide(1000, function() {      
                                
  var taskId = <%= params[:taskId] %>
  var hdrTrSel = "#task-hdr-tr-" + taskId
  var hdrTdSel = "#task-hdr-td-" + taskId
  var detTrSel = ".task-det-tr-" + taskId
  var animBtnId = "task-anim-btn-" + taskId
  <% animLoaderGifId = "task-anim-ldrgif-" + params[:taskId] %>
  var animLoaderGifId = "<%= raw(animLoaderGifId) %>"
  var animBtnContnrId = "task-anim-btn-contnr-" + taskId
  var iterationSel = "#iteration-label-" + taskId
  var ctimeSel = "#ctime-label-" + taskId
  var ratioSel = "#ratio-label-" + taskId

  $(hdrTdSel).attr('colspan', 1).attr('width', '25%').html(
    '<center><b>Execution timespan: ' + <%= @result[:execution_timespan] %> + '</b></center>')

  $(hdrTrSel).append('<td width="25%" align="right" valign="bottom">' + 
    '<span id="' + animBtnContnrId + '">' + 
    '<%= image_tag "ajax-loader.gif", id: animLoaderGifId, 
      style: "display: none; margin-bottom: 10px; margin-right: 40px" %>' +
    '<button id="' + animBtnId + '" class="btn btn-large btn-primary" style="margin-bottom: 5px" name="Visualize">' +
    'Visualize</button>' +    
    '</span></td>')
                               
  $(iterationSel).html('<%= @result[:iterations_until_result] %>')

  $(ctimeSel).html('<%= "%.2f" % @result[:computation_time] %>s')
  
  var upperBound = parseInt($(ratioSel).text())
  $(ratioSel).html(Math.round((((<%= raw(@result[:execution_timespan]) %>) - upperBound) / upperBound) * 100) + '%')
                   
  $(detTrSel).show(1000)

  var animBtnContnr = $("#" + animBtnContnrId)
  var animBtn =  $("#" + animBtnId)  
  var animLoaderGif = $("#" + animLoaderGifId)
                               
  animBtn.click(function() { 
    gaTrackClick('visualize')

    animBtn.css({ display: 'none' })
    animLoaderGif.show()    

    $.ajax({
      url: '/ajax/load-animation',
      data: { taskId: taskId },
      success: function() {
        animLoaderGif.css({ visibility: 'hidden' })
      }
    })
  })

})

