var newTaskId = <%= @task_id %> 
taskIds[newTaskId] = true

//$("#ajax-status").html('Task initialized, number given: ' + newTaskId + ', all tasks: ' + Object.keys(taskIds))

pbId = 'progressbar-' + newTaskId
hdrTrId = 'task-hdr-tr-' + newTaskId
hdrTdId = 'task-hdr-td-' + newTaskId

detTrCls = 'task-det-tr-' + newTaskId
$('#task-table > tbody').prepend(
  '<tr id="' + hdrTrId + '" style="display: none; border-bottom: 1px solid LightGray"><td width="25%" style="padding-top: 30px"><h4>Task #' + newTaskId + '</h4></td>' +
  '<td width="25%" style="padding-top: 10px"> <%= @job_cnt %> jobs, <%= @machine_cnt %> machines</td>' + 
  '<td id="' + hdrTdId + '" width="50%" colspan="2" style="padding-top: 10px"><div id="' + pbId + '"></div></td></tr>' + 
  '<tr class="' + detTrCls + '" style="display: none; ">' +

  <% for k in ["Upper bound", "Lower bound", "Relative difference", "Computation time"] %>
    '<th width="25%" style="padding-bottom: 20px; padding-top: 10px"> <%= k %> </th>' +
  <% end %>

  '</tr><tr class="' + detTrCls + '" style="display: none">' +

  <% for v in [
      @upper_bound,
      @lower_bound,
      '<span id="ratio-label-' + @task_id + '">' + @upper_bound.to_s + '</span>',
      '<span id="ctime-label-' + @task_id + '"/>'] %>

    '<td style="padding-bottom: 20px; padding-top: 10px"><center><%= raw(v) %></center></td>' +
  <% end %>

  '</tr>')

$('#' + pbId).progressbar({ value: false }).height(10)
$('#' + pbId + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
$('#' + hdrTrId).show(500)

