var newTaskId = <%= @task_id %> 
taskIds[newTaskId] = true

pbId = 'progressbar-' + newTaskId
hdrTrId = 'task-hdr-tr-' + newTaskId
hdrTdId = 'task-hdr-td-' + newTaskId

detTrCls = 'task-det-tr-' + newTaskId
$('#task-table > tbody').prepend(
  '<tr id="' + hdrTrId + '" style="display: none; border-bottom: 1px solid LightGray"><td width="25%" style="padding-top: 30px"><h4>Task #' + newTaskId + '</h4></td>' +
  '<td width="25%" style="padding-top: 30px">' +
    '<%= @job_cnt %> jobs, ' +
    '<%= @machine_cnt %> machines ' +
    '<%= image_tag "/assets/wrench.png", style: "height: 2em", title: @verbose_config %>' +
    '<font color="gray"> (hover) </font>' +
  '</td>' + 
  '<td id="' + hdrTdId + '" width="50%" colspan="2" style="padding-top: 30px; vertical-align: middle">' + 
  '<div id="' + pbId + '"></div></td></tr>' + 
  '<tr class="' + detTrCls + '" style="display: none; ">' +

  <% for label, descr in [
    ["Lower/upper bound",
      "Lower: it is proven that no job order can imply shorter execution timespan than this. " +
      "Upper: it is known that this flow shop instance can be completed within such timespan, but possibly there exists a better solution."],
    ["Iterations until result", "The iterations that passed until the result has been reached."],
    ["Perfection ratio", "It is the ratio (our result - upper bound) / (upper bound), times 100%." ],
    ["Computation time", "It is the time the Cuckoo algorithm elapsed for computing this test case." ]
  ] %>
    '<th width="25%" style="padding-bottom: 20px; padding-top: 10px">' +
    '<%= label %> <span title="<%= descr %>"><sup> [?] </sup> </span> </th>' +
  <% end %>

  '</tr><tr class="' + detTrCls + '" style="display: none">' +

  <% for v in [
      "#{@lower_bound} / #{@upper_bound}",
      '<span id="iteration-label-' + @task_id + '"/>',
      '<span id="ratio-label-' + @task_id + '">' + @upper_bound.to_s + '</span>',
      '<span id="ctime-label-' + @task_id + '"/>'] %>

    '<td style="padding-bottom: 20px; padding-top: 10px"><center><%= raw(v) %></center></td>' +
  <% end %>

  '</tr>')

$('#' + pbId).progressbar({ value: false }).height(10)
$('#' + pbId + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
$('#' + hdrTrId).show(500)

