<footer class="footer">
  <small>
    <b>Posh Wolf</b>, a flow shop solver by <%= link_to "Paweł Lipski & Team", "/about" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>      
      <li><%= link_to "Contact", '/contact' %></li>
      <li><%= link_to "Front-end@GitHub", '/webapp-src' %></li>
      <li><%= link_to "Web tests@Bitbucket", '/webtests-src' %></li>
      <li><%= link_to "Back-end@GitHub", '/ws-src' %></li>
    </ul>
  </nav>
</footer>

