<!DOCTYPE html>
<html>
<head>
  <title>Posh Wolf</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "progressbar" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/ga' %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="pull-left" style="margin-top: 5px; margin-right: 10px">
        <%= image_tag "/assets/favicon_inv.png", width: 30, height: 30 %>
      </div>
      <%= link_to "posh wolf", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">        
          <li><%= link_to "Problem", "/problem" %></li>
          <li><%= link_to "Algorithm", "/algorithm" %></li>          
          <li><%= link_to "System", "/system" %></li>          

        </ul>
        <ul class="nav pull-right">
          <li> 
              <%= link_to "READ MORE:", "#", style: "color: white" %> 
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div style="display: block; width: 80%; margin:0 auto"> 
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %> </div>
  <% end %>
  
  <div id="task-list-container">
    <%= yield %>
  </div>
  
  <div id="anim-container">
  </div>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>
